Repository jfaa-josh/stock-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python-version, check-venv-sync, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=512000"]  # 500MB max file size
      - id: check-merge-conflict  # always check for merge conflicts
      - id: check-toml
      - id: mixed-line-ending
        args: ["--fix=lf"]  # unix style line endings
      - id: trailing-whitespace
      - id: end-of-file-fixer

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
                level: warning
              document-start:
                present: false

  - repo: local
    hooks:
      - id: validate-python-version
        name: Validate Python Version
        entry: ./scripts/validate_python_version.sh
        language: system
        types: [toml]

      - id: check-venv-sync
        name: Check if .venv is synced
        entry: ./scripts/check_venv_sync.sh
        language: system
        types: [toml]

      - id: ruff-format
        name: Ruff format
        entry: bash -c 'uv run ruff format src tests'
        language: system
        pass_filenames: false

      - id: ruff-check-fix
        name: Ruff check and fix for pre-commit
        entry: bash -c 'uv run ruff check src tests --fix'
        language: system
        pass_filenames: false

      - id: mypy
        name: Run mypy through uv
        entry: uv run mypy
        language: system
        types: [python]

justfile bug fix
  justfile
  local_workflows/pytests.py
Due: mypy

fixing just install in ci problem
  .github/workflows/ci.yml
Due: none

logging fixes and modification entry point to stop tear down immediately after issuing commands to controller
  flows/data_pipeline_flow.py
  local_workflows/data_pipeline.py
  src/stockops/data/controller.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
Due: mypy

First reworking to add streamlit and modify controller and flow of commands through prefect
  docker-compose.yml
  docker/prefect/Dockerfile
  docker/streamlit/Dockerfile
  flows/data_pipeline_flow.py
  justfile
  local_workflows/data_pipeline.py
  pyproject.toml
  src/stockops/data/controller.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  ui/streamlit_app.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Modified streaming and historical services to work with new controller.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
Due: mypy

Complete revision of prefect and docker
  docker-compose.yml
  docker/Dockerfile.prefect-serve
  docker/Dockerfile.prefect-server
  docker/Dockerfile.streamlit
  docker/prefect/Dockerfile
  docker/streamlit/Dockerfile
  flows/data_pipeline_flow.py
  justfile
  prefect/data_pipeline_flow.py
  pyproject.toml
  scripts/install-dev.sh
  scripts/install_ui_deps.py
  src/stockops/data/controller.py
  src/stockops/data/sql_db.py
  tests/test_controller_isolated.py
  tests/test_data_utils.py
  tests/test_docker.py
  ui/__init__.py
  ui/api_calls.py
  ui/streamlit_app.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Smoke test placeholder for pytest to pass CI
  tests/test_docker.py
Due: mypy

Prefect and Docker are working prefectly at least for a single flow run execution...now debugging python code
  local_workflows/local.py
  ui/api_calls.py
  ui/streamlit_app.py
Due: mypy

added transform. Preparing to de-async python code.
  docker-compose.yml
  docker/Dockerfile.prefect-server
  local_workflows/local.py
  src/stockops/config/config.py
  src/stockops/data/controller.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/transform.py
  ui/api_calls.py
  ui/streamlit_app.py
Due: mypy

Working through transform both locally and in docker
  local_workflows/local.py
  prefect/data_pipeline_flow.py
  pyproject.toml
  src/stockops/config/eodhd_config.py
  src/stockops/data/controller.py
  src/stockops/data/historical/base_historical_service.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/base_streaming_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/transform.py
  ui/streamlit_app.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Transform is correct for writing to db. Config updated
  local_workflows/local.py
  src/stockops/config/config.py
  src/stockops/config/eodhd_config.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/transform.py
  ui/streamlit_app.py
Due: mypy

Streamlit local workflow test script is fully functional for Historical implementation
  local_workflows/temp_local_dev.py
  ui/api_calls.py
Due: mypy

MVP streamlit/prefect in docker working completely with code. Minor bugs remain. No SQLite writer yet.
  local_workflows/local_streamlit_dev.py
  local_workflows/temp_local_dev.py
  pyproject.toml
  ui/api_calls.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Added scheduling to streamlit. Combined local test and desployed versions of streamlit.
  docker-compose.yml
  docker/Dockerfile.streamlit
  local_workflows/local_streamlit_dev.py
  local_workflows/streamlit/__init__.py
  local_workflows/streamlit/dummy_api.py
  local_workflows/streamlit/local_streamlit_dev.py
  src/stockops/config/utils.py
  src/stockops/data/transform.py
  ui/api_calls.py
  ui/api_factory.py
  ui/streamlit_app.py
  ui/ui_backend.py
  ui/utils.py
Due: mypy

Streamlit-Prefect local and in docker is now fully functional (unpolished)
  datapipe_ui/__init__.py
  datapipe_ui/api_backend.py
  datapipe_ui/api_client.py
  datapipe_ui/api_factory.py
  datapipe_ui/frontend.py
  datapipe_ui/ui_backend.py
  datapipe_ui/utils.py
  docker-compose.yml
  docker/Dockerfile.streamlit
  local_workflows/streamlit/dummy_api.py
  local_workflows/streamlit/local_streamlit_dev.py
  ui/api_calls.py
  ui/api_factory.py
  ui/ui_backend.py
  ui/utils.py
Due: mypy

Fully functional unpolished pipeline both local and docker streamlit->prefect->buffer/writer. Has bugs!
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db
  data/git_lfs/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  datapipe_ui/frontend.py
  docker-compose.yml
  docker/Dockerfile.writer
  local_workflows/local_ETL.py
  local_workflows/writer/__init__.py
  local_workflows/writer/randomize_xformer_out_test_data.py
  local_workflows/writer/test_data.txt
  local_workflows/writer/writer_test.py
  local_workflows/writer/xformer_out_test_data.txt
  pyproject.toml
  scripts/install_writer_deps.py
  src/stockops/config/config.py
  src/stockops/data/database/__init__.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/database/write_buffer.py
  src/stockops/data/database/writer.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/transform.py
  src/stockops/data/utils.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Rough draft of reader completed
  local_workflows/reader.py
  src/stockops/config/config.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/database/writer.py
  src/stockops/data/utils.py
Due: mypy

fixes to sql_lite writer and reader to avoid conflicts and fix write errors
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db
  data/git_lfs/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  docker/Dockerfile.writer
  local_workflows/local_ETL.py
  local_workflows/local_read.py
  local_workflows/writer/local_write.py
  local_workflows/writer/randomize_xformer_out_test_data.py
  local_workflows/writer/test_data.txt
  local_workflows/writer/xformer_out_test_data.txt
  src/stockops/data/database/reader.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/database/utils.py
  src/stockops/data/database/write_buffer.py
  src/stockops/data/database/writer.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/transform.py
  src/stockops/data/utils.py
Due: mypy

Writer now seems to be debugged and handling multiple file writes. Added ui db viewer
  .github/workflows/ci.yml
  data/git_lfs/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db-shm
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db-wal
  datapipe_ui/api_backend.py
  docker-compose.yml
  justfile
  pyproject.toml
  src/stockops/config/config.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/database/write_buffer.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

CI fix
  .github/workflows/ci.yml
Due: none

Major debugging of sql_db and streatming service
  data/git_lfs/raw/historical/historical_interday_EODHD_US.db
  data/git_lfs/raw/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/raw/streaming/streaming_EODHD_US_2025_AUG_27.db
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db-shm
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db-wal
  data/git_lfs/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db-shm
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db-wal
  datapipe_ui/api_backend.py
  datapipe_ui/api_client.py
  datapipe_ui/frontend.py
  datapipe_ui/ui_backend.py
  docker-compose.yml
  local_workflows/local_ETL.py
  local_workflows/local_read.py
  local_workflows/writer/local_write.py
  local_workflows/writer/randomize_xformer_out_test_data.py
  local_workflows/writer/test_data.txt
  local_workflows/writer/xformer_out_test_data.txt
  src/stockops/config/config.py
  src/stockops/data/database/reader.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/streaming/eodhd_streaming_service.py
Due: mypy

Implemented the first pytest
  .gitattributes
  data/git_lfs/raw/streaming/streaming_EODHD_US_2025_AUG_27.db
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db-shm
  data/git_lfs/test_data/historical/historical_interday_EODHD_US.db-wal
  data/git_lfs/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/git_lfs/test_data/inputs/test_data.txt
  data/git_lfs/test_data/inputs/xformer_out_test_data.txt
  data/git_lfs/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  datapipe_ui/api_factory.py
  datapipe_ui/frontend.py
  docker-compose.yml
  justfile
  local_workflows/writer/local_write.py
  local_workflows/writer/randomize_xformer_out_test_data.py
  local_workflows/writer/test_data.txt
  pyproject.toml
  scripts/derive_env_from_pyproject.py
  src/stockops/__init__.py
  src/stockops/config/config.py
  src/stockops/data/database/sql_db.py
  src/stockops/data/database/writer.py
  src/stockops/deploy/__init__.py
  tests/test_datapipe.py
  tests/test_docker.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Bug fix attempt for CI 1
  pyproject.toml
  scripts/validate_python_version.sh
  uv.lock
Due: validate-python-version, check-venv-sync

Bug fix attempt for CI 2
  .github/workflows/ci.yml
  local_workflows/pytests.py
  src/stockops/config/eodhd_config.py
Due: mypy

Remove Git LFS tracking
  .gitattributes
  .gitignore
  data/git_lfs/raw/historical/historical_interday_EODHD_US.db
  data/git_lfs/raw/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/inputs/test_data.txt
  data/test_data/inputs/xformer_out_test_data.txt
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  src/stockops/config/config.py
Due: mypy
