Repository jfaa-josh/stock-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python-version, check-venv-sync, mypy

validate-python-version:
  name: Validate Python Version
  entry: ./scripts/validate_python_version.sh
  language: system

check-venv-sync:
  name: Check if .venv is synced
  entry: ./scripts/check_venv_sync.sh
  language: system

mypy:
  name: Run mypy through uv
  entry: uv run mypy
  language: system

clearing lfs
  .gitattributes
Due: none

setting just cleanup after ci data
  .github/workflows/ci.yml
  justfile
Due: none

setting just cleanup after ci data BUG FIX
  justfile
  local_workflows/local_write.py
  local_workflows/writer/__init__.py
  local_workflows/writer/randomize_xformer_out_test_data.py
  tests/test_datapipe.py
Due: mypy

Bug fix
  justfile
Due: none

Bug fix
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
Due: none

Bug fix
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  local_workflows/local_write.py
Due: mypy

Untrack data/* except data/test_data/inputs/**
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
Due: none

CI test
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
  justfile
Due: none

Harden .gitignore: only track data/test_data/inputs/**
  data/test_data/historical/historical_interday_EODHD_US.db
  data/test_data/historical/historical_intraday_EODHD_US_2025_JUL.db
  data/test_data/inputs/test_data.txt
  data/test_data/inputs/xformer_out_test_data.txt
  data/test_data/streaming/streaming_EODHD_US_2025_AUG_18.db
Due: none

CI test
  .gitignore
  justfile
Due: none

Fix .gitignore ordering to only track data/test_data/inputs/**
  .gitignore
Due: none

CI test
  .gitignore
  data/test_data/inputs/test_data.txt
  data/test_data/inputs/xformer_out_test_data.txt
Due: none

Added streamlit local ci to pytest
  data/test_data/inputs/test_data.txt
  datapipe_ui/api_backend.py
  datapipe_ui/api_factory.py
  datapipe_ui/frontend.py
  datapipe_ui/ui_backend.py
  local_workflows/streamlit_local/__init__.py
  local_workflows/streamlit_local/dummy_api.py
  local_workflows/streamlit_local/local_streamlit_ci.py
  local_workflows/streamlit_local/local_streamlit_manual.py
  tests/test_datapipe.py
Due: mypy

Added local ETL to pytest
  local_workflows/local_ETL.py
  local_workflows/local_write.py
  local_workflows/streamlit_local/local_streamlit_ci.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  tests/test_datapipe.py
Due: mypy

Added local reader to pytest
  data/test_data/inputs/test_data.txt
  data/test_data/inputs/xformer_out_test_data.txt
  local_workflows/reader_local/local_read_ci.py
  local_workflows/reader_local/local_reader_manual.py
  tests/test_datapipe.py
Due: mypy

CI logging bugfix
  data/test_data/inputs/test_data.txt
  local_workflows/local_ETL.py
  local_workflows/local_write.py
  local_workflows/reader_local/local_read_ci.py
  local_workflows/streamlit_local/local_streamlit_ci.py
Due: mypy

CI test
  local_workflows/local_write.py
  tests/test_datapipe.py
Due: mypy

CI test
  local_workflows/local_write.py
Due: mypy

CI test
  tests/test_datapipe.py
Due: mypy

CI test
  data/test_data/inputs/test_data.txt
  local_workflows/local_write.py
Due: mypy

CI test
  pyproject.toml
Due: validate-python-version, check-venv-sync

CI test
  .github/workflows/ci.yml
Due: none

CI test
  .github/workflows/ci.yml
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
Due: mypy

Path conditions:
  validate-python-version: any of: \.toml$
  check-venv-sync: any of: \.toml$
  mypy: any of: \.py$
