Repository jfaa-josh/stock-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python-version, check-venv-sync, mypy

validate-python-version:
  name: Validate Python Version
  entry: ./scripts/validate_python_version.sh
  language: system

check-venv-sync:
  name: Check if .venv is synced
  entry: ./scripts/check_venv_sync.sh
  language: system

mypy:
  name: Run mypy through uv
  entry: uv run mypy
  language: system

bugfix2
  docker-compose.yml
  scripts/derive_env_from_pyproject.py
Due: mypy

bugfix2
  docker-compose.yml
  docker/airflow/Dockerfile
Due: none

Docker fixes
  .dockerignore
  airflow/dags/streaming_data_pipeline_dag.py
  docker-compose.yml
  justfile
  scripts/derive_env_from_pyproject.py
Due: mypy

Docker fixes 2
  .github/workflows/ci.yml
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: validate-python-version, check-venv-sync

Minor bug fix for last commit.
  justfile
Due: none

Modified all references to airflow and converted to prefect 2
  .python-version
  airflow/dags/streaming_data_pipeline_dag.py
  docker-compose.yml
  docker/airflow/Dockerfile
  docker/prefect/Dockerfile
  flows/data_pipeline_flow.py
  justfile
  pyproject.toml
  scripts/derive_env_from_pyproject.py
  src/stockops/__init__.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

MVP prefect
  docker-compose.yml
  pyproject.toml
  scripts/derive_env_from_pyproject.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Functioning prefect, src not working
  flows/data_pipeline_flow.py
Due: mypy

Improving test scripts and testing.
  justfile
  local_workflows/__init__.py
  local_workflows/data_pipeline.py
  local_workflows/pytests.py
  src/stockops/data/controller.py
  src/stockops/local_workflows/data_pipeline.py
  src/stockops/runtime/data_pipeline_api.py
  tests/test_data_pipeline_api_controller.py
Due: mypy

Bug fix for testing in justfile.
  justfile
Due: none

Bug fix for testing in justfile 2.
  justfile
Due: none

Bug fix for testing in justfile 3.
  pyproject.toml
Due: validate-python-version, check-venv-sync

Bug fix for testing in justfile 4.
  justfile
Due: none

Bug fix for testing in justfile 5.
  justfile
Due: none

Bug fix for testing in justfile 6.
  tests/conftest.py
Due: mypy

Bug fix for testing.
  tests/test_data_pipeline_api_controller.py
Due: mypy

Bug fix for testing 2.
  tests/conftest.py
  tests/test_data_pipeline_api_controller.py
Due: mypy

Bug fix for testing 3.
  tests/test_data_pipeline_api_controller.py
Due: mypy

Bug fix for testing 4.
  src/stockops/runtime/__init__.py
  tests/test_data_pipeline_api_controller.py
Due: mypy

Remove fastAPI controller since prefect can do this for me.
  docker-compose.yml
  docker/controller/Dockerfile
  flows/data_pipeline_flow.py
  local_workflows/data_pipeline.py
  local_workflows/pytests.py
  pyproject.toml
  src/stockops/data/controller.py
  src/stockops/runtime/__init__.py
  src/stockops/runtime/data_pipeline_api.py
  tests/test_controller_isolated.py
  tests/test_data_pipeline_api_controller.py
  tests/test_data_utils.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Path conditions:
  validate-python-version: any of: \.toml$
  check-venv-sync: any of: \.toml$
  mypy: any of: \.py$
