Repository jfaa-josh/stock-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python-version, check-venv-sync, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=512000"]  # 500MB max file size
      - id: check-merge-conflict  # always check for merge conflicts
      - id: check-toml
      - id: mixed-line-ending
        args: ["--fix=lf"]  # unix style line endings
      - id: trailing-whitespace
      - id: end-of-file-fixer

  # YAML validation
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.0
    hooks:
      - id: yamllint
        args:
          - --config-data
          - |
            extends: default
            rules:
              line-length:
                max: 120
                level: warning
              document-start:
                present: false

  - repo: local
    hooks:
      - id: validate-python-version
        name: Validate Python Version
        entry: ./scripts/validate_python_version.sh
        language: system
        types: [toml]

      - id: check-venv-sync
        name: Check if .venv is synced
        entry: ./scripts/check_venv_sync.sh
        language: system
        types: [toml]

      - id: ruff-format
        name: Ruff format
        entry: bash -c 'uv run ruff format src tests'
        language: system
        pass_filenames: false

      - id: ruff-check-fix
        name: Ruff check and fix for pre-commit
        entry: bash -c 'uv run ruff check src tests --fix'
        language: system
        pass_filenames: false

      - id: mypy
        name: Run mypy through uv
        entry: uv run mypy
        language: system
        types: [python]

Consolidating mypy in ci and precommit, removing mypy.ini.
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
Due: validate-python-version, check-venv-sync

Fixing env in CI
  .github/workflows/ci.yml
  src/stockops/__init__.py
Due: mypy

Created true test script, moved old one to main.py
  src/stockops/main.py
  tests/test_streaming.py
Due: mypy

Adding dev dependency pytest-asyncio
  pyproject.toml
  uv.lock
Due: validate-python-version, check-venv-sync

Bug fix in test script
  tests/test_streaming.py
Due: mypy

Bug fix in test script 2
  tests/test_streaming.py
Due: mypy

Bug fix in test script 3
  tests/test_streaming.py
Due: mypy

Bug fix in test script 4
  tests/test_streaming.py
Due: mypy

Fixing generate structure call in justfile
  justfile
Due: none

Revising streaming code to prove basic working functionality. Reduced test_streaming since still placeholder.
  src/stockops/__init__.py
  src/stockops/config.py
  src/stockops/data/controller.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/streaming_service.py
  src/stockops/data/utils.py
  src/stockops/main.py
  tests/test_streaming.py
Due: mypy

Bug fix
  src/stockops/__init__.py
Due: mypy

Bug fix2
  src/stockops/main.py
  tests/test_streaming.py
Due: mypy

Bug fix3
  src/stockops/main.py
  tests/test_streaming.py
Due: mypy

Revised SQL to store streaming data as two tables in one file
  src/stockops/data/controller.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/streaming_service.py
  src/stockops/main.py
Due: mypy

Added historical data service and refactored configs and main.py
  pyproject.toml
  src/stockops/__init__.py
  src/stockops/config.py
  src/stockops/config/__init__.py
  src/stockops/config/config.py
  src/stockops/config/eodhd_config.py
  src/stockops/data/controller.py
  src/stockops/data/historical/base_historical_service.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/historical/providers.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/base_streaming_service.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/streaming/providers.py
  src/stockops/data/utils.py
  src/stockops/main.py
  tests/test_streaming.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

Major rework of datapipeline implementation, controller.py, and sql_db.py.
  .github/workflows/ci.yml
  airflow/dags/streaming_data_pipeline_dag.py
  src/stockops/data/controller.py
  src/stockops/data/historical/eodhd_historical_service.py
  src/stockops/data/sql_db.py
  src/stockops/data/streaming/eodhd_streaming_service.py
  src/stockops/data/utils.py
  src/stockops/local_workflows/data_pipeline.py
  src/stockops/main.py
  tests/test_datapipe.py
  tests/test_streaming.py
Due: mypy

Complete reworking of controller to add fast api interface, building out airflow-docker
  .github/workflows/ci.yml
  .python-version
  Dockerfile
  airflow/dags/streaming_data_pipeline_dag.py
  docker-compose.yml
  docker/airflow/Dockerfile
  docker/controller/Dockerfile
  justfile
  pyproject.toml
  scripts/derive_env_from_pyproject.sh
  src/stockops/local_workflows/data_pipeline.py
  src/stockops/runtime/data_pipeline_api.py
  uv.lock
Due: validate-python-version, check-venv-sync, mypy

CI fix
  .github/workflows/ci.yml
Due: none

file name fix in scripts
  scripts/derive_env_from_pyproject.py
Due: mypy

bugfix
  scripts/derive_env_from_pyproject.py
Due: mypy
